html,
body,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: grey;
}

body {
    display: flex;
}

.logo-container {
    width: 550px;
    height: auto;
    position: relative;
}



.logo-wrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 250px;
    width: 550px;
    padding: 10px 0;
    background-color: rgba(4, 4, 29, 0.555);
    color: white;
}

.logo-text {
    font-size: 6rem;
}

.header-text {
    width: 650px;
    font-size: 1.5rem;
}

.body-container {
    display: flex;
    flex-flow: column wrap;
}

ul {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
}

li:nth-child(2n) {
    flex-basis: 70%;
}

a {
    text-decoration: none;
}

.credit {
    position: absolute;
    bottom: 50px;

}

#odin-logo {
    width: 80px;
    height: auto;
}

#trees-in-forest {
    width: 550px;
    height: auto;
}
